/*
Run CLI build:

npx @tailwindcss/cli -i ./public/assets/css/input.css -o ./public/assets/css/style.css --watch
*/

@import './fontawesome.min.css' layer(vendor);

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
	label {
		font-size: var(--text-sm);
		opacity: 65%;
		margin-bottom: --spacing(1);
	}
	input,
	select,
	textarea {
		width: 100%;
		padding: --spacing(2);
		margin-bottom: --spacing(4);
		border-radius: var(--radius-md);
		border: 1px var(--tw-border-style) ;
		border-color: var(--color-neutral-300);
		outline: none;
		transition-property: all;
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
		transition-duration: var(--tw-duration, var(--default-transition-duration));

		@variant hover {
			border-color: var(--color-teal-300);
		}
		@variant focus {
			border-color: var(--color-teal-600);
		}
		@variant dark {
			border-color: color-mix(in srgb, #fff 20%, transparent);
		}
	}

	.btn {
		font-weight: var(--font-weight-semibold);
		display: inline-block;
		padding: --spacing(2) --spacing(4);
		border-radius: var(--radius-md);
		color: var(--color-white);
		background: var(--color-teal-600);

		@variant hover {
			background: var(--color-teal-800);
		}
	}
	.btn-secondary {
		font-size: var(--text-sm);
		font-weight: var(--font-weight-semibold);
		opacity: 65%;
		margin-top: --spacing(4);

		@variant hover {
			color: var(--color-teal-800);
		}
	}
	.btn,
	.btn-secondary {
		transition-property: all;
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
		transition-duration: var(--tw-duration, var(--default-transition-duration));
	}

	.card {
		padding: --spacing(4);
		border-radius: var(--radius-md);
		border: 1px var(--tw-border-style) ;
		border-color: var(--color-neutral-300);

		@variant dark {
			border-color: color-mix(in srgb, #fff 20%, transparent);
		}
	}
}